<mat-toolbar color="accent">
    <span><a routerLink="/">Post App</a></span>
    <span class="spacer"></span>
    <ul>
      <li *ngIf="userIsAuth">
        <a mat-button routerLink="/create" routerLinkActive="mat-primary">New Post</a>
      </li>
      <li *ngIf="!userIsAuth">
        <a mat-button routerLink="/login" routerLinkActive="mat-primary">Login</a>
      </li>
      <li *ngIf="!userIsAuth">
        <a mat-button routerLink="/signup" routerLinkActive="mat-primary">Signup</a>
      </li>
      <li *ngIf="userIsAuth">
        <button mat-button (click)="onLogout()">Logout</button>
      </li>
    </ul>
</mat-toolbar>
