<mat-card>
  <mat-spinner color="ThemePalette" *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(saveForm)" #saveForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text"
      name="title"
      [ngModel]='post?.title'
      required
      placeholder="Post Title"
      #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
      </mat-form-field>
      <mat-form-field>
      <textarea matInput
      rows="4"
      name="desc"
      [ngModel]='post?.desc'
      required
      placeholder="Post Description"
      #desc="ngModel"></textarea>
      <mat-error *ngIf="desc.invalid">Please enter a post desc</mat-error>
    </mat-form-field>
    <button mat-raised-button color='accent' type="submit">Save Post</button>
  </form>
</mat-card>

